# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
fsync

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
go.work.sum

# JSON data
*.json

# env file
.env

# editor folders
.idea/*

# emacs files
*~
*#
.aider*
